*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#15223e,#1d243d,#005461);
    overflow-x:hidden;
}

.container{
    width:90%;
    max-width:700px;
    text-align:center;
    padding:25px;
    border-radius:20px;
    background:linear-gradient(135deg,BLACK, #12112e, #1a0f5b, #12112e, BLACK );
    backdrop-filter:blur(10px);
    box-shadow:
        0 0 20px rgba(0,255,255,0.2),
        0 0 40px rgba(0,255,255,0.1);
}

h1{
    color:rgb(255, 255, 255);
    font-size:3rem;
    margin-bottom:20px;
    letter-spacing:4px;
    text-shadow:
        0 0 10px rgb(255, 115, 0),
        0 0 20px rgb(219, 248, 2);
}

#playerName{
    color:#f8fafc;
    font-size:1.3rem;
    margin-bottom:20px;
    font-weight:bold;
}

#gridBox{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
    padding:20px;
    background:#2c789bc7;
    border-radius:30px;
    box-shadow:
        inset 0 0 15px rgba(97, 231, 255, 0.582),
        0 0 20px rgba(0, 255, 255, 0.251);
}

/* GAME CELLS */

.cell{
    aspect-ratio:1/1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.cell button{
    width:100%;
    height:100%;
    border-radius:50%;
    border:2px solid rgba(0, 0, 0, 0.03);
    background:#1a133beb;
    cursor:pointer;
    transition:all 0.3s ease;
    box-shadow:
        inset 0 0 8px rgba(255,255,255,0.1),
        0 0 10px rgba(0, 0, 0, 0.4);
}

/* HOVER EFFECT */

.cell button:hover{
    transform:scale(1.08);
    box-shadow:
        0 0 12px rgb(26, 156, 255),
        0 0 25px cyan;
}

/* PLAYER COLORS */

.player1{
    background:#52ea2c !important;

    box-shadow:
        0 0 15px #010c07,
        0 0 30px #063d0e;
}

.player2{
    background:#c7036c !important;

    box-shadow:
        0 0 15px #60103d,
        0 0 30px #1a0207;
}

/* RESET BUTTON */

#reset{
    margin-top:40px;
    padding:12px 30px;
    border:none;
    border-radius:12px;
    background:cyan;
    color:#010102;
    font-size:1rem;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s ease;
    box-shadow:
        0 0 10px rgba(1, 27, 27, 0.808),
        0 0 20px cyan;
}

#reset:hover{
    transform:translateY(-3px) scale(1.05);
    background:white;
    box-shadow:
        0 0 10px white,
        0 0 20px cyan;
}

/* POPUP */

.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);

    display:flex;
    justify-content:center;
    align-items:center;

    backdrop-filter:blur(5px);

    z-index:100;
}

.hidden{
    display:none;
}

.popupContent{
    background:#0f172a;
    padding:40px;
    border-radius:20px;
    text-align:center;

    box-shadow:
        0 0 20px cyan,
        0 0 40px cyan;

    animation:popupAnim 0.4s ease;
}

.popupContent h2{
    color:white;
    margin-bottom:20px;
    font-size:2rem;
}

#playAgain{
    padding:12px 24px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:cyan;
    font-weight:bold;
    transition:0.3s ease;
}

#playAgain:hover{
    transform:scale(1.05);
}

@keyframes popupAnim{
    from{
        transform:scale(0.6);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

/* RESPONSIVE */

@media(max-width:600px){

    h1{
        font-size:2rem;
    }

    #gridBox{
        gap:6px;
        padding:12px;
    }

    #playerName{
        font-size:1rem;
    }

    #reset{
        width:100%;
    }
}